.App {
    text-align: center;
  }
  
  .question-card {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 80%; /* Can be in percentage also. */
    height: auto;
  
    /* Visual  */
    background-color: gray;
    padding: 16px;
    border-radius: 16px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    
  }
  
  .question-text {
    font-size: 24px;
    font-weight: bold;
  }

  .card-text {
    transition: 0.3s;
  }
  
  /* Final Results  */
  
  .final-results {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 50%; /* Can be in percentage also. */
    height: auto;
    margin-top: 64px;
  
    /* Visual  */
    background-color: gray;
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  


.card-text:hover {
  border-radius: 4px;
  background-color: rgb(235, 231, 235);
}

#score {
  /* display: none; */
}